:root {
    --te: rgba(255, 255, 255, 1);
    --variable-collection-text: rgba(229, 229, 229, 1);
    --variable-collection-color: rgba(0, 0, 0, 0.23);
    --variable-collection-color-2: rgba(0, 0, 0, 0.2);
    --variable-collection-color-3: rgba(0, 0, 0, 0.35);
    --variable-collection-color-4: rgba(0, 0, 0, 0.31);
  }
  